/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Darker background color */
    color: #ffffff; /* Light text color */
    padding: 20px; /* Add padding for content */
}

.centered-title {
    text-align: center;
    color: #4CAF50; /* Green title color */
    margin-bottom: 30px; /* Add spacing below the title */
}

.main-content {
    margin-top: 20px;
    padding: 20px;
    background-color: #333333; /* Darker background color for main content */
    border-radius: 10px;
    border: 2px solid #555555; /* Border around main content */
}

.sidebar-content {
    padding: 20px;
    background-color: #333333; /* Darker background color for sidebar content */
    border-radius: 10px;
    border: 2px solid #555555; /* Border around sidebar content */
}

.predicted-scenario {
    font-weight: bold;
    color: #4CAF50;
    border: 2px solid #4CAF50; /* Add border around predicted scenario */
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px; /* Rounded corners */
}

.prediction-probabilities {
    font-style: italic;
    color: #777;
    border: 2px solid #777; /* Add border around prediction probabilities */
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px; /* Rounded corners */
}

/* Button Styling */
.predict-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add spacing above the button */
}

.predict-button:hover {
    background-color: #45a049;
}
