/* circsync_css.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Set background color to dark gray */
    color: #ffffff; /* Set text color to white */
}

.centered-title {
    text-align: center;
}

.main-content {
    margin-top: 20px;
    padding: 20px;
    background-color: #333333; /* Darker background color for main content */
    border-radius: 10px;
    float: left;
    width: 65%; /* Adjust the width of the main content */
    margin-right: 5%; /* Add margin to the right of the main content */
}

.sidebar-content {
    padding: 10px;
    background-color: #333333; /* Darker background color for sidebar content */
    border-radius: 10px;
    float: left;
    width: 30%; /* Adjust the width of the sidebar */
}

.predicted-scenario {
    font-weight: bold;
    color: purple; /* Set text color to purple */
    font-size: 16px; /* Increase the font size */
    margin-bottom: 10px; /* Add margin to the bottom */
}

.prediction-probabilities {
    font-style: italic;
    color: purple; /* Set text color to purple */
}

/* Button Styling */
.predict-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.predict-button:hover {
    background-color: #45a049;
}

/* Pie Chart Styling */
#pie-chart-container {
    float: left;
    width: 30%; /* Adjust the width of the pie chart container */
    margin-top: 20px; /* Add margin to the top of the pie chart container */
}
